{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>MemeWars</h1>
    <p class="lead">MemeWars is a free web game using Python, HTML, CSS and JavaScript.</p>
    <div class="row">
    <div class="col-md-4"> <p><a href="{% url 'about' %}" id="PlayButton" class="btn btn-primary btn-large">PLAY &raquo;</a></p> </div>         

    <div class="col-md-4"> <img id="GameLogo" src="../../static/app/content/fear_m10.jpg" alt="GameLogo" style="width:100%;height:100%;"> </div> 
    </div>
    
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Django used in this project</h2>
        <p>
            For this project we used Django. Django gives you a powerful, patterns-based way to build dynamic websites.
            We used Django at the recommedation of our (dear) Teacher.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Team</h2>
        <p>Our team consists of 6 developers: Chiel, Eljakim, Joost, Marcel, Paul and Timo</p>
    </div>
    <div class="col-md-4">
        <h2>Random Facts</h2>
        <p>"Monster Mash" is a 1962 novelty song and the best-known song by Bobby "Boris" Pickett. The song was released as a single on Gary S. Paxton's Garpax Records label in August 1962 along with a full-length LP called The Original Monster Mash, which contained several other monster-themed tunes.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Monster_Mash">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
