{% extends "app/layout.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../static/app/scripts/OurJavascripts/login.js"></script>
{#<script src="../../static/app/scripts/OurJavascripts/LoginModule.js"></script>#}
<h2>{{ title }}</h2>
<div class="row">
    <div id="LoginSide" class="col-md-6">
        <section id="loginForm">
            <br>
                <form>
                {% csrf_token %}
                First name: <input id="loginusername" type="text" name="fname"><br><br>
                Last name: <input id="loginpassword" type="text" name="lname"><br><br>
                <button id="testButton" type="button" class="button"> Registreer </button><br>
                </form>
        </section>
    </div>

    <div id="RegisterSide" class="col-md-6">
        <section id="RegisterForm">
            <br>
                <form id="post-form" action="/create_post/" method="POST">
                {% csrf_token %}
                First name: <input id="dbusername" type="text" name="fname"><br><br>
                Last name: <input id="dbpassword" type="text" name="lname"><br><br>
                <input id="submitButton" type="submit" value="Login"><br>
                </form>
        </section>
    </div>
    </div>
{% if form.errors %}
    <p class="validation-summary-errors">Please enter a correct user name and password.</p>
{% endif %}


{% endblock %}


{% block scripts %}

{% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
<script src="{% static 'app/scripts/jquery.cookie.js' %}"></script>

{% endblock %}
