body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.jumbotron .btn {
    align-content: center;
    margin-top: 40%;
    width: 75%;
}
/*in index.html*/
#GameLogo{
    margin-left: 30%;
}
/*in login.html*/
#RegisterSide{
    outline: 2px solid black;
}
#LoginSide{
    outline: 2px solid black;
}

/*.sidenav {
    padding-top: 100px;
    margin-top: 100px;
}*/



/*dit is voor about-page*/
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 800px;
    /*background-color: grey;*/
}
    
.content-items {
    background-color: lightcyan;
    background: url("background2.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.panel-1 {
    background: url("Background1.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 20px;
    height: 450px;
    color: black;
}

.panel-2 {
    background-color: green;
    height: 200px;
}

.panel-body {
    /*background-color: lightblue;*/
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 30px;
    background-color: #f1f1f1;
    height: 100%;
    /*background-color: lightblue;*/
}

.LeftAndRightBar {
    overflow-y: auto;
    max-height: 80%;
}

    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {
        height:auto;
    } 
}

.LeftAndRightBar {
    /*margin-top: 20px;
    max-height: 75%;*/
}
